main{
  padding:15px;
  margin-top:100px ;
  width: 400px;
  height:px;
  margin: auto;  
  box-shadow:4px 5px 9px 0px black ;
  border-radius: 5px;

}
h1{
  margin: 0px;
  text-align: center;

}

input{
  margin-bottom:15px;
  border-radius:4px ;
  height: 26px;
  width: 308px;
}

button{
  height: 31px;
  width: 60px;
  border-radius:4px ;
  background-color: #308AD9;
  color: white;
}
div{
  padding:10px ;
}
ul{
  display: block;
  display: inline;
  
  margin-top:10px ;
  
}
 ul > li:hover{
  cursor: pointer ;
  background-color: rgba(114, 116, 116, 0.455);
  
 }

li{
  background-color: rgba(14, 14, 15, 0.094);
  padding:8px;
  list-style-type:none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:auto;
  border-radius: 2px;
  box-shadow:2px 2px 2px 0px rgba(45, 44, 44, 0.718) ;
  display: flex;
  justify-content:space-between;
  
}


li > button {
  background-color: aliceblue;
  color: black;
  border-radius: 4px;
}

li > button:hover{
  cursor: pointer;
  background-color: rgba(235, 13, 65, 0.387);
}


